:root{
    --primary: #8c38ff;
    --light: #EEEEEE;
    --dark: #212121;
    --success: #42ba96
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.all-all{
    display: flex;
    flex-direction: column;
}
.all{
    flex: 1;
    display: flex;
    position: relative;
    top: 16vh;
    /* height: 82vh; */
    margin: 2vh 5% 0 5%;
    justify-content: center;
}


.social{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.social div{
    flex: 1;
}

.social img{
    width: 40px;
}

.prince_img{
    flex: 4;
    margin: 0 -5%;
}
.prince_img img{
    width: 80%;
}

.info{
    display: flex;
    flex-direction: column;
    flex: 5;
}

.info div{
    position: relative;
    top: 25%;
}
.info div .intro b{
    background-color: rgb(13, 80, 157);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    padding: 0.2vw;
}

.hello{
    font-size: 35px;
    color: var(--light);
    background-color: #212121;
    margin-bottom: 3vh;
}
.name{
    font-size: 75px;
}
.whoami{
    font-size: 35px;
}

.info button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--primary);
    border: 2px solid transparent;
    margin-top: 2vh;
    width: 30%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .info button:focus, .info button:hover {
    background-color: var(--light);
    border: 2px solid var(--primary);
  }
  
  .info button.focus,.info button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .info button.disabled, .info button:disabled {
    opacity: .65;
  }

  footer{
    flex: 1;
    position: absolute;
    bottom: 0;
    color: var(--light);
    background-color: var(--dark);
    width: 100%;
    text-align: center;
    padding: 3vh 0;
  }

  .social-bottom{
    display: flex;
    justify-content: center;

}

  .social-bottom a{
    flex: 1;
    margin: 0 2vh;
  }  

  @media (min-width: 751px) {
    .all{
        height: 82vh;
    }
  }


  @media (max-width: 750px){
    .all{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 11vh;
        margin: 2vh 4.5%;
    }  

    .social{
        flex: 1;
        order: 1;
        display: flex;
        flex-direction: column;
    }
    .social div{
        flex: 1;
        display: flex;
        justify-content: center;
        margin: 0 20%;
    }

    .prince_img{
        flex: 1;
        justify-content: center;
    }
    .prince_img div{
        flex: 1;
    }
    .prince_img img{
        width: 70%;
        border: 3px solid var(--dark);
        border-radius: 80%;
        position: relative;
        left: 13vw;
        background-color: #212529;
    }

    .hello{
        font-size: 20px;
    }
    .name{
        font-size: 35px;
    }
    .whoami{
        font-size: 20px;
    }

    .info{
        color: var(--light);
        /* text-align: center; */
        background-color: #212121;
        /* border-radius: 5%; */
        margin: 1vh 0vw 0vh 0vw;
        padding: 0.5vh 0.5vw;
        order: 3;
        /* width: 100%; */
    }
      .info .btans{
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      margin: 0 auto;
      }

    .info button {
        flex:1;
        width: 100px;
    }

    footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
      }
    
      .social-bottom{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    
      .social-bottom a{
        flex: 1;
        margin: 0 0.8vh;
      }  
    
  }

  @media (max-width: 379px){
    .social{
        margin-top: 5vh;
    }
    .social img{
        width: 35px;
    }
    .info button {
        flex:1;
        width: 100%;
    }
    
  }
  

