:root{
    --primary: #8c38ff;
    --light: #EEEEEE;
    --dark: #212121;
    --success: #42ba96
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.all{
    margin: 13vh 1vw 5vh 1vw;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    background: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.all h2{
    margin-bottom: 3vh;
    text-align: center;
}

.web{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
}

.web h3{
    flex: 1;
    text-align: center;
    margin-bottom: 2vh;
}

.web .languages{
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
}

.web .languages div{
    flex: 1;
    text-align: center;
}

.web .languages div img{
    width: 30px;
}



.app-dev{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
}

.app-dev h3{
    flex: 1;
    text-align: center;
    margin-bottom: 2vh;
}

.app-dev .languages{
    flex: 1;
    display: flex;
}

.app-dev .languages div{
    flex: 1;
    text-align: center;
}

.app-dev .languages div img{
    width: 25px;
}



.admin-skills{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
}

.admin-skills h3{
    flex: 1;
    text-align: center;
    margin-bottom: 2vh;
    text-transform: uppercase;
}

.admin-skills .languages{
    flex: 1;
    display: flex;
}

.admin-skills .languages div{
    flex: 1;
    text-align: center;
}

.admin-skills .languages div img{
    width: 25px;
}



.admin-skills{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 4vh;
}

.database h3{
    flex: 1;
    text-align: center;
    margin-bottom: 2vh;
}

.database .languages{
    flex: 1;
    display: flex;
}

.database .languages div{
    flex: 1;
    text-align: center;
}

.database .languages div img{
    width: 30px;
}

@media screen and (max-width: 700px){
    .all{
        margin: 16vh 1vw;
        padding: 1vh 1vw;
        display: flex;
        flex-direction: column;
        background: url(images/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .web .languages{
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        padding: 0  50px;
    }
    
    .web .languages div{
        flex: 1;
        text-align: center;
        flex-shrink: 1;
        flex-basis: 0;
    }
    
    .web .languages div img{
        width: 30px;
    }
}